.basic-news__article
	display: flex
	justify-content: space-between
	padding: 26px 0 31px

.news-header__title--padding
	padding-right: 37px
	
.basic-news__img
	width: 23% 

.basic-news__content
	width: 73%
	+georgia-font
	font-size: 12px

.basic-news__text
	padding: 1.4% 0 3%
	color: #757575

.basic-news__footer
	display: flex

.basic-news__icon
	width: auto

.tags-item
	padding: 0 31px 0 22px
	color: #989898

.basic-news__coments
	font-size: 12px
	background-position-y: 2px

.tags-item__caption
	padding-right: 9px

.tags-item__link
	font-style: italic
	text-decoration: underline
	color: #2b5e5e

	&:after
		display: inline-block
		content: ','

	&:last-child
		&:after
			display: none

.social
	display: flex

.social__share
	padding-right: 15px
	color: #989898

.social__icon
	margin-right: 7px


+r(940)
	.basic-news__article
		position: relative
		padding-bottom: 60px
	
	.basic-news__footer
		position: absolute
		flex-wrap: wrap
		bottom: 10%
		left: 0
		width: 100%

+r(800)
	.basic-news__img
		width: 43%

	.basic-news__content
		width: 55%

+r(677)
	.tags-item
		padding: 0 15px

	.social__share
		padding-right: 5px

	.basic-news__article
		font-size: 11px

+r(500)
	.basic-news__article
		flex-wrap: wrap
		padding: 26px 10px 15px
		
	.basic-news__img
		min-width: 220px
		margin: 0 auto

	.basic-news__content
		width: 100%
		text-align: justify

	.basic-news__footer
		position: static
		padding-top: 10px

+r(390)
	.tags-item
		width: 100%
		padding: 0

