.more_news
	padding: 2% 0 6%

.news_list
	display: flex
	justify-content: space-between

.news_list__item
	background: #ffffff
	box-shadow: 1px 1px 1px rgba(0, 0, 1, 0.14)
	border-radius: 2px
	width: 19%
	padding: 17px 17px 0px

.news_list__item__link
	font-family: $font-georg
	font-size: 12px
	font-weight: 400
	line-height: 18px
	text-decoration: underline
	color: #042b38
	cursor: pointer

.news_list__item__img
	position: relative
	overflow: hidden
	padding-bottom: 8.8%

.news_list__item__img--size
	max-width: 120%
	width: 120%
	margin-left: -15px
	margin-top: -10px


.news_list__item__description
	padding-top: 5%
	width: 91%
	font-family: $font-georg
	font-size: 11px
	font-style: italic
	line-height: 18px
	color: #757575

.news_list__item__coments
	@extend %news_coments
	position: relative
	bottom: 6px
	left: 4px	

.news_list__item__coments__img
	width: auto

.news_list__item__coments__counter
	@extend %news_counter
	padding-left: 6px