<section class="basic_news--second">
			<div class="basic_news__header">
				<h1 class="basic_news__header__title">Gruesome video shows Syria brutality</h1>
				<p class="basic_news__header__description">As crackdowns against anti-government protesters continue across</p>
			</div>
			<article class="basic_news__article">
				<figure class="basic_news__article__img">
					<img src="img/picture/news6.png" alt="">
				</figure>
				<div class="basic_news__article__content">
					<p class="basic_news__article__content__description">In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues. A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit.</p>
					<div class="basic_news__article__footer">
						<figure class="basic_news__article__footer__coments">
							<img class="basic_news__article__footer__img" src="img/icon/com.png">
							<figcaption class="basic_news__article__footer__counter">12</figcaption>
						</figure>
						<div class="basic_news__article__footer__tags">
							<span class="basic_news__article__footer__tags__caption">Tags:</span>
							<a href="" class="basic_news__article__footer__tags__link">Italy</a>
							<a href="" class="basic_news__article__footer__tags__link">Best wine</a>
							<a href="" class="basic_news__article__footer__tags__link">Spirit</a>
							<a href="" class="basic_news__article__footer__tags__link">World championship</a>
							<a href="" class="basic_news__article__footer__tags__link">Eat</a>
						</div>
						<div class="basic_news__article__footer__social">
							<p class="basic_news__article__footer__social__share">Share:</p>
							<a class="basic_news__article__footer__social__icon" href="">
								<img src="img/icon/fb.png" alt="">
							</a>
							<a class="basic_news__article__footer__social__icon" href="">
								<img src="img/icon/tw.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</article>
		</section>
</article>