<section class="basic-news">
	<div class="news-header">
		<h1 class="news-header__title news-header__title--padding">In Syria, 'brother of a whore' gets tossed like trash</h1>
		<p class="news-header__description">As crackdowns against anti-government protesters</p>
	</div>
	<article class="basic-news__article">
		<figure class="basic-news__img">
			<img src="img/picture/news5.png" alt="">
		</figure>
		<div class="basic-news__content">
			<p class="basic-news__text">A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues. </p>
			<div class="basic-news__footer">
				<p class="basic-news__coments coments">12</p>
				<div class="tags-item">
					<span class="tags-item__caption">Tags:</span>
					<a href="" class="tags-item__link">Italy</a>
					<a href="" class="tags-item__link">Best wine</a>
					<a href="" class="tags-item__link">Spirit</a>
					<a href="" class="tags-item__link">World championship</a>
					<a href="" class="tags-item__link">Eat</a>
				</div>
				<div class="social">
					<span class="social__share">Share:</span>
					<a class="social__icon" href="">
						<img src="img/icon/fb.png" alt="">
					</a>
					<a class="social__icon" href="">
						<img src="img/icon/tw.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</article>
</section>