<div class="wrap">
<header class="header">
	<div class="container">
		<div class="header__hotest">
			<span class="header__hotest__label">hotest</span>
			<span class="header__hotest__news">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. </span>
			<button type="button" class="header__hotest__button"></button>
		</div>
	</div>
	<div class="header__main">
		<div class="container">
			<div class="header__main__logo">
				<p class="header__main__logo--layman">Layman</p>
				<p class="header__main__logo--politics">politics</p>
				<p class="header__main__logo--description">blog about politics</p>
			</div>
			<div class="header__main__menu">
				<nav class="header__main__menu--top">
					<a class="header__main__menu__link--top" href="">Privacy Policy</a>
					<a class="header__main__menu__link--top" href="">Advertise</a>
					<a class="header__main__menu__link--top" href="">Terms and Conditions</a>
				</nav>
				<nav class="header__main__menu--bottom">
					<a class="header__main__menu__link--bottom" href="">Main street</a>
					<a class="header__main__menu__link--bottom" href="">washington dc</a>
					<a class="header__main__menu__link--bottom" href="">wall street</a>
					<a class="header__main__menu__link--bottom" href="">statewide</a>
					<a class="header__main__menu__link--bottom" href="">politics</a>
					<a class="header__main__menu__link--bottom" href="">just a bill</a>
					<a class="header__main__menu__link--bottom" href="">video</a>
				</nav>
			</div>
			<button class="header__main__menu__button"></button>
		</div>
	</div>
</header>