<aside class="media-news">
  <h1 class="media-news__title">hottest video</h1>
  <ul class="media-news__list">
    {% for key in data.video %}
      <li class="media-news__item">
        <div class="video">
          <video poster="{{key.poster}}"></video>
          <button type="button" class="video__button"></button>
        </div>
        <a class="media-news__link">{{key.link}}</a>
        <p class="media-news__description">{{key.description}}</p>
        <p class="media-news__coments coments">{{key.counter}}</p>
      </li>
    {% endfor %}
  </ul>
</aside>
</main>
</div>
