	<main class="news">
		<article class="all_news">
			<section class="top_news">
				<div class="top_news__header">
					<h1 class="top_news__header__title">Gruesome video shows Syria brutality</h1>
					<p class="top_news__header__description">As crackdowns against anti-government protesters continue across</p>
				</div>
				<div class="top_news__article">
					<p class="top_news__article__content">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. Men lifted the bodies one by one and hurled from them from a bridge into a river below as cursing filled the air</p>
				</div>
			</section>
			
			



		


		