	<main class="news">
		<article class="all-news">
			<section class="top-news">
				<div class="news-header">
					<h1 class="news-header__title">Gruesome video shows Syria brutality</h1>
					<p class="news-header__description">As crackdowns against anti-government protesters continue across</p>
				</div>
				<div class="top-news__article">
					<p class="top-news__content">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. Men lifted the bodies one by one and hurled from them from a bridge into a river below as cursing filled the air</p>
				</div>
			</section>
			
			



		


		