 
{% set 
news = [
	{
		img: 'img/picture/news1.png',
		link: 'CNN could not verify the authenticity',
		description: 'The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.',
		counter: '12'
	},

	{	img: 'img/picture/news2.png',
		link: 'How Much Do You Owe For Lunch? You Decide',
		description: 'The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.',
		counter: '12'
	},

	{	img: 'img/picture/news3.png',
		link: 'Reid eyes deal to end stalemate over funding',
		description: 'The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.',
		counter: '12'
	},

	{	img: 'img/picture/news4.png',
		link: 'Wall Street on Debt Deal So What?',
		description: 'Dow drops more than 250 points as stock markets show no relief from Obamas',
		counter: '12'
	}
]

%}

{% set 
video = [
	{
		poster: 'img/picture/video1.png',
		link: 'CNN could not verify the authenticity',
		description: 'The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.',
		counter: '12'
	},

	{	poster: 'img/picture/video2.png',
		link: 'Reids eyes deal to end stalemate over funding',
		description: 'The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.',
		counter: '12'
	},

	{	poster: 'img/picture/video3.png',
		link: 'Reids eyes deal to end stalemate over funding',
		description: 'The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.',
		counter: '12'
	}
]

%}
